<a href="https://colab.research.google.com/github/jaimeisaac2020/Python-analsisis-basicos/blob/mi-github/diferencia_de_medias_t_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
from scipy import stats
import statsmodels.api as sm

In [5]:
tips=pd.read_csv('tips.csv')

In [6]:
tips.head()

   Unnamed: 0  total_bill   tip     sex smoker  day    time  size
0           1       16.99  1.01  Female     No  Sun  Dinner     2
1           2       10.34  1.66    Male     No  Sun  Dinner     3
2           3       21.01  3.50    Male     No  Sun  Dinner     3
3           4       23.68  3.31    Male     No  Sun  Dinner     2
4           5       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
tip_count=tips.groupby('sex').mean()['tip']

In [8]:
tip_count

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

In [26]:
genero0=tips[tips['sex']=='Female']['tip']

In [27]:
genero0

0      1.01
4      3.61
11     5.00
14     3.02
16     1.67
       ...
226    2.00
229    2.88
238    4.67
240    2.00
243    3.00
Name: tip, Length: 87, dtype: float64

In [11]:
genero0.value_counts()

Dinner    52
Lunch     35
Name: time, dtype: int64

In [24]:
gener01=tips[tips['sex']=='Male']['tip']

In [25]:
gener01

1      1.66
2      3.50
3      3.31
5      4.71
6      2.00
       ...
236    1.00
237    1.17
239    5.92
241    2.00
242    1.75
Name: tip, Length: 157, dtype: float64

In [29]:
normalidad=stats.shapiro(genero0)
normalidad

(0.9567776918411255, 0.005448382347822189)

In [30]:
#el p-valor es 0.005448382347822189

In [32]:
normalidad1=stats.shapiro(gener01)
normalidad1

(0.8758689165115356, 3.708431339788376e-10)

In [34]:
# P-valor casi cero:3.708431339788376e-10
# No hay normalidad

In [36]:
result=stats.levene(genero0,gener01)
result

LeveneResult(statistic=1.9909710178779405, pvalue=0.1595236359896614)

# Las Varianzas son Homogeneas.

In [37]:
result2=stats.ttest_ind(genero0,gener01,
                        equal_var=True)

In [38]:
print(result2)

Ttest_indResult(statistic=-1.3878597054212687, pvalue=0.16645623503456763)

# P-valor mayor que 0.05.

Esto significa que no existe una diferencia obvia entre las propinas recibidas por hombres y mujeres, es decir, no existe una relación evidente entre las propinas recibidas y el género.