<a href="https://colab.research.google.com/github/jaimeisaac2020/Python-analsisis-basicos/blob/mi-github/pandas_1_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
movies=pd.read_csv('movies1.csv',index_col='Title')

In [3]:
movies.head(10)

                              Rank       Studio       Gross  Year
Title
Avengers: Endgame                1  Buena Vista  $2,796.30   2019
Avatar                           2          Fox  $2,789.70   2009
Titanic                          3    Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4  Buena Vista  $2,068.20   2015
Avengers: Infinity War           5  Buena Vista  $2,048.40   2018
Jurassic World                   6    Universal  $1,671.70   2015
Marvel's The Avengers            7  Buena Vista  $1,518.80   2012
Furious 7                        8    Universal  $1,516.00   2015
Avengers: Age of Ultron          9  Buena Vista  $1,405.40   2015
Black Panther                   10  Buena Vista  $1,346.90   2018

In [4]:
movies.tail(6)

                          Rank           Studio     Gross  Year
Title
21 Jump Street             777             Sony  $201.60   2012
Yogi Bear                  778  Warner Brothers  $201.60   2010
Garfield: The Movie        779              Fox  $200.80   2004
Cats & Dogs                780  Warner Brothers  $200.70   2001
The Hunt for Red October   781        Paramount  $200.50   1990
Valkyrie                   782              MGM  $200.30   2008

In [5]:
movies.shape

(782, 4)

In [6]:
movies.size

3128

In [7]:
movies.dtypes

Rank       int64
Studio    object
Gross     object
Year       int64
dtype: object

In [8]:
movies.iloc[499]

Rank           500
Studio         Fox
Gross     $288.30
Year          2018
Name: Maze Runner: The Death Cure, dtype: object

In [10]:
movies.iloc[1:24,2:4]

                                                    Gross  Year
Title
Avatar                                         $2,789.70   2009
Titanic                                        $2,187.50   1997
Star Wars: The Force Awakens                   $2,068.20   2015
Avengers: Infinity War                         $2,048.40   2018
Jurassic World                                 $1,671.70   2015
Marvel's The Avengers                          $1,518.80   2012
Furious 7                                      $1,516.00   2015
Avengers: Age of Ultron                        $1,405.40   2015
Black Panther                                  $1,346.90   2018
Harry Potter and the Deathly Hallows Part 2    $1,341.70   2011
Star Wars: The Last Jedi                       $1,332.50   2017
Jurassic World: Fallen Kingdom                 $1,309.50   2018
Frozen                                         $1,276.50   2013
Beauty and the Beast                           $1,263.50   2017
Incredibles 2                                  $1,242.80   2018
The Fate of the Furious                        $1,236.00   2017
Iron Man 3                                     $1,214.80   2013
Minions                                        $1,159.40   2015
Captain America: Civil War                     $1,153.30   2016
Aquaman                                        $1,148.00   2018
Captain Marvel                                 $1,128.30   2019
Transformers: Dark of the Moon                 $1,123.80   2011
The Lord of the Rings: The Return of the King  $1,119.90   2003