<a href="https://colab.research.google.com/github/jaimeisaac2020/Python-analsisis-basicos/blob/mi-github/prueba_hipotesis_t_una_muestra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
tips=pd.read_csv('tips.csv')

In [3]:
tips.head()

   Unnamed: 0  total_bill   tip     sex smoker  day    time  size
0           1       16.99  1.01  Female     No  Sun  Dinner     2
1           2       10.34  1.66    Male     No  Sun  Dinner     3
2           3       21.01  3.50    Male     No  Sun  Dinner     3
3           4       23.68  3.31    Male     No  Sun  Dinner     2
4           5       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
print(tips["tip"].mean ())

2.9982786885245902

In [4]:
# Prueba t de muestra única

tips = pd.read_csv('tips.csv')
print (tips ["tip"]. mean ()) # muestra el valor medio del grupo

dl = sm.stats.DescrStatsW (tips ['tip']) # Primero defina los datos del grupo que se describirán
lenth = len(tips['tip'])
result = dl.ttest_mean(3) #El parámetro es el valor de muestra hipotético

2.9982786885245902
(-0.01943264142291187, 0.9845119176410584, 243.0) 244

# El primer valor es el de t
# El segundo valor es el p valor.  

De los resultados, podemos ver que el valor de p es mayor que 0.05 Por lo tanto, acepte la hipótesis nula, que es el parámetro 3 que completamos anteriormente. La nota 3 se puede utilizar como valor medio de los datos.

In [9]:
dl.mean

2.9982786885245902

In [13]:
result[0]

-0.01943264142291187

In [10]:
dl.std

1.3807999538298952

In [6]:
print(result)

(-0.01943264142291187, 0.9845119176410584, 243.0)

In [5]:
print(result,lenth)

(-0.01943264142291187, 0.9845119176410584, 243.0) 244